# SPDX-FileCopyrightText: 2017-2021 Thomas Kluyver <thomas@kluyver.me.uk> and other contributors
#
# SPDX-License-Identifier: MIT

__pycache__/
*.pyc
/dist/
.tox
.pytest_cache
doc/_build/
*.egg-info/
.coverage
htmlcov/
