pytest
pytest-flake8
mock ; python_version<'3.6'
testpath
toml ; python_version<'3.6'
tomli ; python_version>='3.6'
setuptools>=30
importlib_metadata ; python_version<'3.8'
zipp ; python_version<'3.8'
